
BODY
{
    BACKGROUND-IMAGE: url('/cloudgraph-web/images/page_bg.png');
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    FONT-SIZE: 8pt;
    font-family: "Verdana";
    margin: 0; 
    padding: 0;
}
TABLE
{
    font-family: "Verdana";
     FONT-SIZE: 8pt
}
TR
{
     font-family: "Verdana";
     FONT-SIZE: 8pt
}
TD
{
     font-family: "Verdana";
     FONT-SIZE: 8pt
}
TH
{
     font-family: "Verdana";
     FONT-SIZE: 10pt
     FONT-WEIGHT: normal
}
P
{
     font-family: "Verdana";
     FONT-SIZE: 8pt
}
input
{
      FONT-SIZE: 8pt
      font-family: "Verdana";
      color: #2F4F88;
}
select
{
      FONT-SIZE: 8pt
      font-family: "Verdana";
      color: #2F4F88;
}
.select
{
      FONT-SIZE: 8pt
      font-family: "Verdana";
      color: #2F4F88;
}
option
{
      FONT-SIZE: 8pt
      font-family: "Verdana";
      color: #2F4F88;
}
textarea
{
   FONT-SIZE: 8pt
   font-family: "Verdana";
   color: #2F4F88;
}

img
{  
    border-style: none;
}

a {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; font-style: normal; line-height: normal; color: #000080; text-decoration:none}
a:link {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; font-style: normal; line-height: normal; color: #000080; text-decoration:none}
a:hover {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; font-style: normal; line-height: normal; color: #6495ed; text-decoration:none}
a:visited {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; font-style: normal; line-height: normal; color: #000080; text-decoration:none}
a:active {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; font-style: normal; line-height: normal; color: #6495ed; text-decoration:none}

.label
{
  FONT-SIZE: 8pt
  font-family: "Verdana";
  FONT-WEIGHT: normal
}

.labelBold
{
  FONT-SIZE: 8pt
  font-family: "Verdana";
  FONT-WEIGHT: bold
}

.labelBigBold
{
  FONT-SIZE: 12pt
  font-family: "Verdana";
  FONT-WEIGHT: bold
}

.AlignCenter{
  ALIGN: center;
  text-align: center;
}

.AlignTop{
  ALIGN: top;
  text-align: top;
  vertical-align: top
}

.AlignBottom{
  ALIGN: bottom;
  vertical-align: bottom
}

.AlignLeft{
  ALIGN: left;
  text-align: left;
}

.AlignRight{
  ALIGN: right;
  text-align: right;
}

.DashboardTable{
  ALIGN: top;
  text-align: top;
  vertical-align: top;
  border-collapse: collapse;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
/*border-spacing*/

.DashboardTableOverflow{
    border-width: 1px;
    border-style: inset;
    WIDTH: 100%;
    HEIGHT: 160px;
    overflow: auto;
}

.MinimalTable{
  ALIGN: top;
  text-align: top;
  vertical-align: top;
  border-collapse: collapse;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.FormPanelRow{
  ALIGN: left;
  word-wrap: no;
  text-align: left;
}

.FormLabelColumn{
  ALIGN: right;
  text-align: right;
  FONT-WEIGHT: bold;
}

.FormControlColumn{
  ALIGN: center;
  white-space : nowrap;
}

.FormMessageColumn{
  ALIGN: left;
  color:#FF0000;
}

.FormPanelDiv{
           height:40px;
           width:100%px;
	   border-top:1px solid #6b8dcd;	
	   border-left:1px solid #6b8dcd;
	   border-right:1px solid #6b8dcd;	
  	   border-bottom:1px solid #6b8dcd;
  	   background-color: #d3dbee;
           padding:5px 5px 5px 5px;

}

.SearchPanelOuterDiv{
           height:40px;
           width:100%px;
	   border-top:1px solid #6b8dcd;	
	   border-left:1px solid #6b8dcd;
	   border-right:1px solid #6b8dcd;	
  	   border-bottom:1px solid #6b8dcd;
           padding:5px 5px 5px 5px;
}

.SearchPanelBasicDiv{
           height:40px;
           width:100%px;
	   border-top:1px solid #6b8dcd;	
	   border-left:1px solid #6b8dcd;
	   border-right:1px solid #6b8dcd;	
  	   border-bottom:1px solid #6b8dcd;
  	   background-color: #d3dbee;
           padding:5px 5px 5px 5px;
}

.SearchPanelAdvancedDiv{
           height:40px;
           width:100%px;
	   border-top:1px solid #6b8dcd;	
	   border-left:1px solid #6b8dcd;
	   border-right:1px solid #6b8dcd;	
  	   border-bottom:1px solid #6b8dcd;
  	   background-color: #d3dbee;
           padding:5px 5px 5px 5px;
}

.SearchPanelInnerDiv{
           height:40px;
           width:100%px;
	   border-top:1px solid #6b8dcd;	
	   border-left:1px solid #6b8dcd;
	   border-right:1px solid #6b8dcd;	
  	   border-bottom:1px solid #6b8dcd;
  	   background-color: #d3dbee;
           padding:5px 5px 5px 5px;
}

.InfoPanelRow{
  ALIGN: left;
  word-wrap: no;
  text-align: left;
}

.InfoLabelColumn{
  ALIGN: right;
  text-align: right;
  FONT-WEIGHT: bold;
  margin: 4px; 
  padding: 4px;
}

.InfoTextColumn{
  ALIGN: left;
  text-align: left;
  white-space : nowrap;
  margin: 4px; 
  padding: 4px;
}

.InfoLabelRow{
  ALIGN: left;
  text-align: left;
  FONT-WEIGHT: bold;
  margin: 4px; 
  padding: 4px;
}


.InfoPanelDiv{
           height:40px;
           width:100%px;
	   border-top:1px solid #6b8dcd;	
	   border-left:1px solid #6b8dcd;
	   border-right:1px solid #6b8dcd;	
  	   border-bottom:1px solid #6b8dcd;
  	   background-color: #d3dbee;
           padding:5px 5px 5px 5px;

}

.AppTitleDiv{
  POSITION: absolute;
  LEFT: 27;
  TOP: 5;
  height:20px;
  width:400px;
  color: #000000;
  font: 24px arial;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
}

.TopToolbarDiv {
  POSITION: absolute;
  LEFT: 200;
  TOP: 5;
  height:20px;
  ALIGN: right;
  text-align: right;
  color: #000000;
  font: 12px arial;
  font-weight: bold;
  text-decoration: none;
}

.TopToolbarDiv a {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; font-style: normal; line-height: normal; color: #000080; text-decoration:none}
.TopToolbarDiv a:link {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; font-style: normal; line-height: normal; color: #000080; text-decoration:none}
.TopToolbarDiv a:hover {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; font-style: normal; line-height: normal; color: #0000FF; text-decoration:none}
.TopToolbarDiv a:visited {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; font-style: normal; line-height: normal; color: #000080; text-decoration:none}
.TopToolbarDiv a:active {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; font-style: normal; line-height: normal; color: #6495ed; text-decoration:none}

.CaptionDiv{
	color: #000000;
    font: 18px arial;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
    COLOR: black;
    border-width: 0px;
}

.CaptionMinorDiv{
    color: #000000;
    font: 14px arial;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
    COLOR: black;
    border-width: 0px;
}

.ChartBodyDiv {
  width:100%;
  height:100%;
}

.ChartDiv {
  width:100%;
  height:100%;
  border-width: 2px;
  border-style: inset;
}

.ChartButtonDiv {
  border-width: 1px;
  border-style: outset;
  width: 30px;
  height: 19px;
  ALIGN: center;
  text-align: center;
}


.NavTreeDiv{
    WIDTH: 235px;
    word-wrap: yes;
    overflow-y: auto;
}

.NavTableDiv{
    WIDTH: 235px;
    HEIGHT: 120px;
    word-wrap: yes;
    overflow-y: auto;
}

.NavTableDivAuto{
    WIDTH: 235px;
    word-wrap: yes;
}

.ListNavItem{
  WIDTH: 100%;
  font-weight:bold;
  ALIGN: left;
  word-wrap: yes;
  ALIGN: left;
  text-align: left;
}

.LeftNavDiv{
  POSITION: absolute;
  LEFT: 35;
  TOP: 80;
  ALIGN: left;
  text-align: left;
  WIDTH: 235px;
  overflow: hidden;
  margin: 0px; 
  padding: 0px;
  border: 0px;
}

.LeftNavColumn{
    WIDTH: 160px;
    HEIGHT: 100%;
  ALIGN: top;
  text-align: top;
  vertical-align: top
}

.LeftNavTable {
   table-layout: fixed;
   width: 165px;
   padding: 0px 0px 0px 0px;
   margin: 0px 0px 0px 0px;
   text-decoration:none;
   text-align:left;
   font-family: Arial; 
   font-weight:bold; 
   font-size: 12px;
}



.LeftNav{
   cursor: pointer;
   FONT-WEIGHT: normal;
   TEXT-DECORATION: none;
   text-align: left;
   text-indent: 0px;
   margin-left: 0px;
   margin-left: 0px;
   margin-bottom: 0px;
   COLOR: black;
   LEFT: 0;
   TOP: 0;
   ALIGN: left;
   word-wrap: yes;
   white-space: normal;
}

.LeftNav a {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 10px; font-style: normal; line-height: normal; color: #000000; text-decoration:underline}
.LeftNav a:link {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 10px; font-style: normal; line-height: normal; color: #000000; text-decoration:underline}
.LeftNav a:hover {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 10px; font-style: normal; line-height: normal; color: #E3C96C; text-decoration:underline}
.LeftNav a:visited {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 10px; font-style: normal; line-height: normal; color: #000000; text-decoration:underline}
.LeftNav a:active {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 10px; font-style: normal; line-height: normal; color: #000000; text-decoration:underline}

.LeftNavActive{
   cursor: pointer;
   FONT-WEIGHT: bold;
   TEXT-DECORATION: none;
   text-align: left;
   text-indent: 0px;
   margin-left: 0px;
   margin-left: 0px;
   margin-bottom: 0px;
   COLOR: black;
   LEFT: 0;
   TOP: 0;
   ALIGN: left;
   word-wrap: yes;
   white-space: normal;
}

.LeftNavActive a {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 10px; font-style: normal; line-height: normal; color: #000000; text-decoration:underline}
.LeftNavActive a:link {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 10px; font-style: normal; line-height: normal; color: #000000; text-decoration:underline}
.LeftNavActive a:hover {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 10px; font-style: normal; line-height: normal; color: #E3C96C; text-decoration:underline}
.LeftNavActive a:visited {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 10px; font-style: normal; line-height: normal; color: #000000; text-decoration:underline}
.LeftNavActive a:active {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 10px; font-style: normal; line-height: normal; color: #000000; text-decoration:underline}

.LeftNavInactive{
   cursor: pointer;
   color: #ffffff;
   FONT-WEIGHT: normal;
   TEXT-DECORATION: none;
   text-align: left;
   text-indent: 0px;
   margin-left: 0px;
   margin-left: 4px;
   margin-bottom: 4px;
   COLOR: black;
   LEFT: 0;
   TOP: 0;
   ALIGN: left;
   word-wrap: yes;
}

.LeftNavInactive a {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 10px; font-style: normal; line-height: normal; color: #000000; text-decoration:underline}
.LeftNavInactive a:link {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 10px; font-style: normal; line-height: normal; color: #000000; text-decoration:underline}
.LeftNavInactive a:hover {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 10px; font-style: normal; line-height: normal; color: #E3C96C; text-decoration:underline}
.LeftNavInactive a:visited {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 10px; font-style: normal; line-height: normal; color: #000000; text-decoration:underline}
.LeftNavInactive a:active {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 10px; font-style: normal; line-height: normal; color: #000000; text-decoration:underline}

.LeftNavOpen{
   cursor: pointer;
   color: #ffffff;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
    text-align: left;
    text-indent: 0px;
    margin-left: 0px;
    COLOR: white;
    LEFT: 0;
    TOP: 0;
    ALIGN: left;
    word-wrap: yes;
}

.LeftNavSeperatorDiv {
    border-top-width: 0px;
    border-left-width: 0px;
    font-size: 0px;
    border-bottom-width: 0px;
    height: 30px;
    background-color: f5deb3;
    border-right-width: 0px
}

.TopNavDiv{
  POSITION: absolute;
  LEFT: 308;
  TOP: 77;
  ALIGN: left;
  text-align: left;
  WIDTH: 100%;
  HEIGHT: 27px;
  overflow: hidden;
  border-width: 0px;
}

.TopNavDivLeft{
  POSITION: absolute;
  LEFT: 20;
  TOP: 77;
  ALIGN: left;
  text-align: left;
  WIDTH: 100%;
  HEIGHT: 27px;
  overflow: hidden;
  border-width: 0px;
}
.TopNav{

}

.TopNav a {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; font-style: normal; line-height: normal; color: #000080; text-decoration:none}
.TopNav a:link {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; font-style: normal; line-height: normal; color: #000080; text-decoration:none}
.TopNav a:hover {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; font-style: normal; line-height: normal; color: #0000FF; text-decoration:none}
.TopNav a:visited {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; font-style: normal; line-height: normal; color: #000080; text-decoration:none}
.TopNav a:active {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; font-style: normal; line-height: normal; color: #6495ed; text-decoration:none}


.TopNavActive{
}

.TopNavActive a {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; font-style: normal; line-height: normal; color: #000080; text-decoration:underline}
.TopNavActive a:link {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; font-style: normal; line-height: normal; color: #000080; text-decoration:underline}
.TopNavActive a:hover {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; font-style: normal; line-height: normal; color: #0000FF; text-decoration:underline}
.TopNavActive a:visited {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; font-style: normal; line-height: normal; color: #000080; text-decoration:underline}
.TopNavActive a:active {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; font-style: normal; line-height: normal; color: #6495ed; text-decoration:underline}


.NewsNav{
  ALIGN: left;
  text-align: left;
}
    
.NewsNav a {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; font-style: normal; line-height: normal; color: #b8860b; text-decoration:none}
.NewsNav a:link {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; font-style: normal; line-height: normal; color: #b8860b; text-decoration:none}
.NewsNav a:hover {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; font-style: normal; line-height: normal; color: #ffd700; text-decoration:none}
.NewsNav a:visited {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; font-style: normal; line-height: normal; color: #b8860b; text-decoration:none}
.NewsNav a:active {  font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; font-style: normal; line-height: normal; color: #b8860b; text-decoration:none}
    
    
.ContentDiv{
  POSITION: absolute;
  LEFT: 310;
  TOP: 120;
  ALIGN: left;
  text-align: left;
  border-width: 0px 0px 0px 0px;
}

.ContentDivLeft{
  POSITION: absolute;
  LEFT: 16;
  TOP: 120;
  ALIGN: left;
  text-align: left;
  border-width: 0px 0px 0px 0px;
}

.Messages
{
    FONT-SIZE: 10pt;
    font-family: "Verdana";
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
    COLOR: red;
}



.JobCodeListDiv{
      width:250px; 
      height:280px;
    overflow: auto;
}

.TaxonomyTreePanel{
    border-width: 1px;
    border-style: inset;
    WIDTH: 100%;
    HEIGHT: 160px;
    overflow: auto;
}

.TaxonomyTreeSelectonDiv{
    border-width: 1px;
    border-style: inset;
    WIDTH: 100%;
    HEIGHT: 180px;
    word-wrap: yes;
    text-align: left;
    overflow: none;
}

.EditableTaxonomyTreePanel{
    border-width: 1px;
    border-style: inset;
    WIDTH: 100%;
    overflow-x: auto;
}

.TablePopupDiv{
    WIDTH: 100%;
    max-height:120px;
    overflow: auto;
}


.ErrorMessage{
    color: red;
}

.UnselectedTableRow{
    FONT-WEIGHT: bold;
    color: #000000;
    text-decoration: none;
}
.SelectedTableRow{
    FONT-WEIGHT: bold;
    color: #00EE00;
    text-decoration: underline;
}


.rich-toolbar, .rich-toolbar-item {  
    background-image:none;  
    background-color:transparent;  
    border-width: 0px;
}

/* tweaks RF table headers to look like column headers (which are less brash) - use a rich-panel if you want to make your widget stand out more */
/*
.rich-table-header{  
    background-image:none;
    background-color:f5deb3; 
}
*/
/* Wheat */
/*
.rich-table-subheader{  
    background-image:none;
    background-color:f5deb3; 
}

.rich-table-headercell{
    font-weight:bold;
    color:black; 
    background-color:f5deb3; 
}
*/
/* end table header tweak */
 
/*  		
.rich-stglpanel-header{  
    background-image:none;
    background-color:f5deb3; 
    font-weight:bold;
    color:black; 
}  		 		
*/
 
/*  	
.ChildPannelHeader{  
    background-image:none;
    background-color:f5deb3; 
    border-color:B6AD84;
    font-weight:bold;
    color:black; 
}  		
*/
.ParentPannelBody{  
	padding : 0px;
	text-align : left;
	vertical-align : top;
}  		 		  	
  	  				
.rich-panelbar-content{
	padding : 0px;
	text-align : left;
	vertical-align : top;
}

.rich-table-subheadercell {
    white-space: normal;
}

.extdt-hsep {
    display: none;
}

.DropZone
{
	text-align: center;
   border-width: 1px;
   border-color: black;
   border-style: solid;
   color: black;
}
